{
   "settings":{
      "debug":0,
      "ignoredChannels":[

      ], // Note this list is from https://www.reddit.com/r/sfwpornnetwork/wiki/network if you want to add any just add the name and not Porn
      "redditList":[
         "earth", 
         "botanical",
         "water",
         "sea",
         "sky",
         "fire",
         "desert",
         "winter",
         "autumn",
         "weather",
         "geology",
         "space",
         "beach",
         "mushroom",
         "spring",
         "summer",
         "lake",
         "lava",
         "city",
         "village",
         "rural",
         "architecture",
         "house",
         "cabin",
         "church",
         "abandoned",
         "cemetery",
         "infrastructure",
         "machine",
         "car",
         "f1",
         "motorcycle",
         "military",
         "gun",
         "knife",
         "boat",
         "rides",
         "destruction",
         "thingscutinhalf",
         "starship",
         "tool",
         "technology",
         "bridge",
         "steam",
         "retail",
         "spaceflight",
         "road",
         "drydock",
         "animal",
         "food",
         "agriculture",
         "culinary",
         "dessert",
         "design",
         "room",
         "art",
         "fractal",
         "exposure",
         "mtg",
         "gamer",
         "aerial",
         "apocalypse",
         "view",
         "hellscape",
         "sculpture"
      ]
   },
   "d":{
      "Servers":{
         "null":{
            "id":"123456789101213141",
            "messageCnt":0,
            "announceChan":"123456789101213141",
            "SownerId":"12345678910121314",
            "Verb":true,
            "prefixOvrid":null,
            "Channels":{
               "null":{
                  "id":"123456789101213141",
                  "type":"text",
                  "messageCnt":0,
                  "lastComicActt":"12:00 am",
                  "lastComic":0,
                  "lastCat":0,
                  "lastCatActt":"12:00 am",
                  "lastsnake":0,
                  "lastsnakeActt":"12:00 am",
                  "lastpug":0,
                  "lastpugActt":"12:00 am",
                  "topic":"Null! This is just a example!"
               }
            },
            "Users":{
               "null":{
                  "id":"null",
                  "lastseen":"Janurary 1st 1970, 0:0:0",
                  "status":"offline",
                  "messageCnt":0,
                  "linkCnt":0,
                  "rawLastSeen":0,
                  "totalOffline":{
                     "h":0,
                     "m":0,
                     "s":0
                  },
                  "totalIdle":{
                     "h":0,
                     "m":0,
                     "s":0
                  }
               }
            }
         }
      }
   }
}